/* Global */
body {
  background-color: antiquewhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  height: 5rem;
}
.nav-link {
  color: #222222 !important;
  
}

/* Footer */
footer {
  height: 6rem;
  margin-top: auto;
  overflow: hidden;
}


.card-text {
    color: #222222 !important;
}

.card-index{
    opacity: 1;
}

 .card-index:hover {
    transform: scale(1.03);
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0.9;

  }

 

  /* Maps*/
  #map { width: 600px;
  height: 80vh;}

.nav-link:hover {
  
border: 1px solid black;          
border-radius: 20px;            



}

/* Pagination links text color */
.pagination .page-link {
  color: black; /* default link color */
}

/* Pagination links on hover */
.pagination .page-link:hover {
  color: black;
  background-color: #e9ecef; 
}

/* Active page */
.pagination .page-item.active .page-link {
  background-color: black; /* active bg color */
  color: white;            /* active text color */
  border-color: black;
}

/* Previous/Next disabled link color */
.pagination .page-item.disabled .page-link {
  color: #6c757d; /* muted grey */
}
